/* Small Mobile Screens */
.contact-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.contact-selfie {
    width: 100%;
    max-width: 350px;
    margin-bottom: 50px;
}

.contact-selfie img {
    width: 100%;
    border-radius: 100px;
}

.contact-text {
    width: 100%;
    max-width: 450px;
    text-align: justify;
}

.contact-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}


/* Tablet Screens */
@media(min-width: 725px) {
    .contact-flex-container {
        flex-direction: row;
    }

    .contact-flex-container {
        justify-content: space-between;
    }

    .contact-text {
        width: 70%;
        max-width: 550px;
    }

    .contact-selfie {
        align-self: start;
        padding-top: 30px;
        width: 25%;
        margin-bottom: 0px;
        max-width: 350px;
    }
}

/* Laptop Screens */
@media(min-width: 768px) {
    .contact-flex-container {
        justify-content: flex-start;
    }
    .contact-text {
        margin-left: 100px;
    }
}


/* Large Laptop Screens */
@media(min-width: 960px) {
    
}