/* Small Mobile Screens */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px auto 25px auto 25px auto 25px auto 25px auto 25px auto 25px auto 25px auto 25px;
    justify-items: center;
}

.project-container {
    width: 80%;
    border-radius: 15px;
    padding: 65px 15px;
}

#project1 {
    grid-row: 2/ 3;
}

#project2 {
    grid-row: 4/ 5;
}

#project3 {
    grid-row: 6/ 7;
}

#project4 {
    grid-row: 8/ 9;
}

#project5 {
    grid-row: 10/ 11;
}

#project6 {
    grid-row: 12/ 13;
}

#project7 {
    grid-row: 14/ 15;
}

#project8 {
    grid-row: 16/ 17;
}

.project-container:hover {
    box-shadow: 8px 8px 20px rgb(76, 20, 102);
}

/* #project1:hover, #project2:hover, #project3:hover, #project4:hover, #project5:hover, #project6:hover, #project7:hover, #project8:hover {
    background-size: 300%;
    background-position: top;
    background-repeat: no-repeat;
}

#project1:hover {
    background-image: url(../images/BM/BM_4.png);

}

#project2:hover {
    background-image: url(../images/Typography/typography_0.png);
}

#project3:hover {
    background-image: url(../images/UX_CaseStudy_SMCGOAPP/Slide1.PNG);
}

#project4:hover {
    background-image: url(../images/DesignResearch/onboarding_casestudy-1.png);
}

#project5:hover {
    background-image: url(../images/Rebranding/hakuna_packaging-1.png);
}

#project6:hover {
    background-image: url(../images/Rebranding/NF_designbrief_0.png);
}

#project7:hover {
    background-image: url(../images/Packaging/Arizona_designbrief_0.png);
}

#project8:hover {
    background-image: url(../images/Packaging/brickell_designbrief1-1.png);
} */

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
  
/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}
  
/* The Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
  
/* Hide the slides by default */
.mySlides {
    display: none;
    width: 80%;
    margin: auto;
}

.mySlides img {
    width: 100%;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* Caption text */
.caption-container {
    text-align: center;
    background-color: rgb(20, 20, 20);
    height: 100px;
    padding: 100px 16px;
    color: white;
}
  
img.demo {
    opacity: 0.6;
}
  
.active, .demo:hover {
    opacity: 1;
}


/* Tablet Screens */
@media(min-width: 550px) {
    .grid-container {
        grid-template-columns: auto 25px auto;
        grid-template-rows: 25px auto 25px auto 25px auto 25px auto 25px;
        justify-items: center;
    }
    
    .project-container {
        width: 80%;
        border-radius: 15px;
        padding: 65px 15px;
    }
    
    #project1 {
        grid-column: 1/ 2;
        grid-row: 2/ 3;
    }
    
    #project2 {
        grid-column: 3/ 4;
        grid-row: 2/ 3;
    }
    
    #project3 {
        grid-column: 1/ 2;
        grid-row: 4/ 5;
    }
    
    #project4 {
        grid-column: 3/ 4;
        grid-row: 4/ 5;
    }
    
    #project5 {
        grid-column: 1/ 2;
        grid-row: 6/ 7;
    }
    
    #project6 {
        grid-column: 3/ 4;
        grid-row: 6/ 7;
    }
    
    #project7 {
        grid-column: 1/ 2;
        grid-row: 8/ 9;
    }
    
    #project8 {
        grid-column: 3/ 4;
        grid-row: 8/ 9;
    }

}

/* Laptop Screens */
@media(min-width: 768px) {
    .grid-container {
        grid-template-columns: auto 25px auto;
        grid-template-rows: 25px auto 55px auto 55px auto 55px auto 25px;
        justify-items: center;
    }
       
    .project-container {
        width: 70%;
        border-radius: 15px;
        padding: 65px 15px;
    }
}

/* Large Laptop Screens */
@media(min-width: 960px) {
    .grid-container {
        grid-template-columns: auto 25px auto;
        grid-template-rows: 25px auto 25px auto 25px auto 25px auto 25px;
        justify-items: center;
    }
    
    .project-container {
        width: 80%;
        border-radius: 15px;
        padding: 65px 15px;
    }
    
    #project1 {
        grid-column: 1/ 2;
        grid-row: 2/ 3;
    }
    
    #project2 {
        grid-column: 3/ 4;
        grid-row: 2/ 3;
    }
    
    #project3 {
        grid-column: 5/ 6;
        grid-row: 2/ 3;
    }
    
    #project4 {
        grid-column: 7/ 8;
        grid-row: 2/ 3;
    }
    
    #project5 {
        grid-column: 1/ 2;
        grid-row: 4/ 5;
    }
    
    #project6 {
        grid-column: 3/ 4;
        grid-row: 4/ 5;
    }
    
    #project7 {
        grid-column: 5/ 6;
        grid-row: 4/ 5;
    }
    
    #project8 {
        grid-column: 7/ 8;
        grid-row: 4/ 5;
    }
}