/* Small Mobile Screens */
header {
    width: 100%;
    position: fixed;
    padding-bottom: 10px;
    max-height: 125px;
}

.navflex {
    display: flex;
    flex-direction: row;
}

header.navflex {
    justify-content: space-between;
}

.navbar-container {
    flex-direction: column;
    width: 100%;
}

.navbar-list {
    flex-direction: column;
    display: none;
}

.menu-toggle-container, .logo-container {
    margin: 20px;
    width: 20%;
}

.logo-container {
    max-width: 75px;
}

.menu-toggle-container {
    width: 7%;
    min-width: 30px;
    height: fit-content;
}

.menu-toggle-container img, .logo-container img {
    width: 100%;
}

nav a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: right;
}

li {
    padding: 20px 20px;
}

.active-link {
    color: gold;
}

nav a:hover {
    color: gold;
}

/* Tablet Screens */
@media(min-width: 550px) {
    .navbar-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-container {
        width: 10%;
    }
    
    .navbar-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
    }

    .menu-toggle-container {
        display: none;
    }

    li {
        padding-left: 30px;
    }
}

/* Laptop Screens */
@media(min-width: 768px) {
    li {
        padding-left: 60px;
    }

    ul {
        max-height: 120px;
    }
}

/* Large Laptop Screens */
@media(min-width: 960px) {
    .navbar-container {
        max-width: 1200px;
        margin: auto;
    }
}