@import url("css/navbar.css");
@import url("css/footer.css");
@import url("css/layout_home.css");
@import url("css/layout_about.css");
@import url("css/layout_projects.css");
@import url("css/layout_inspiration.css");
@import url("css/colors.css");
@import url("css/typography.css");

/* Small Mobile Screens */
body {
    margin: 0px;
}

main {
    padding: 175px 50px 150px;
}

/* Tablet Screens */
@media(min-width: 550px) {

}

/* Laptop Screens */
@media(min-width: 768px) {

}

/* Large Laptop Screens */
@media(min-width: 960px) {
    main {
        max-width: 1100px;
    }
}